<div id="question">
	
	<h1>Thanks for voting!</h1>
	
	<script type="text/javascript">
		setTimeout(function() { $(location).attr('href','<%=question_path(@question)%>'); }, 2000);
	</script>
	
</div>

